<li>
    <div class="photo-card">
        <img class="img" src="{{webformatURL}}" alt="img" width="340px" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i><br>
                <span class="list">{{likes}}</span>
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i><br>
                <span class="list">{{views}}</span>
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i><br>
                <span class="list">{{comments}}</span>
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i><br>
                <span class="list">{{downloads}}</span>
            </p>
        </div>
    </div>
</li>